@import url('https://fonts.cdnfonts.com/css/barlow');

.post-password-form{
    margin-top: 80px;
}

h5.card-title{
    color: black;
}
  .card-header {
    padding: 0;
}

.carousel-item > img {
    object-fit: cover;
    height: 90vh;
}

.form-control:disabled {
    font-weight: bold;
    font-size: 14px;
}

.badge.text-bg-dark {
    padding: 10px;
}
#contact {
    padding-top: 10rem !important;
}
@media (max-width: 768px) {
    #bymarta{
        padding-left: 15px;
    }
}
